<!DOCTYPE html>
<html lang="en-us">
  <head>
  <title>javascript - 简单</title>
  <meta charset="utf-8" />
  <meta name="author" content="Will Chang" />
    <meta name="description" content="Javascript" />
    <meta name="keywords" content="js" />
    <!-- Bootstrap Core CSS -->
    <link href="http://standino.github.io/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="http://standino.github.io/media/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="http://standino.github.io/media/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://standino.github.io/media/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="http://standino.github.io/media/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://standino.github.io/media/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

  <body class="container">
    <div id="wrapper">
      <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">简单 --- 让生活更精彩。 </a>
  </div>
  <!-- /.navbar-header -->

  <!-- /.navbar-top-links -->
  <script>
   function goSearch(){
       if($('#searchInSite').is(':checked')){
           $('#s').val($('#s').val()+'   site:standino.github.io');
       }
   }
  </script>
  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                  <form method="get" class="form-inline" id="searchform" onsubmit="goSearch()" target="_blank" action="http://search.aol.com/aol/search">
                      <div class="form-group">
                          <label class="sr-only" for="s">Search inputbox</label>
                          <input type="text" class="form-control" name="q" id="s" value="">
                      </div>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" id="searchInSite"> 本站搜索
                          </label>
                      </div>
                      <!-- <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                      </button>
                      </span>
                      -->
                  </form>
          <!-- /input-group -->
        </li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/work/">Work</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="https://github.com/standino">GitHub</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>

      <div>
  <div class="post">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">javascript</h1>
          <div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">ES6 </a></li>
<li><a href="#sec-2">require js</a></li>
<li><a href="#sec-3">React</a>
<ul>
<li><a href="#sec-3-1">通讯</a></li>
</ul>
</li>
<li><a href="#sec-4">项目中使用到的技术</a></li>
<li><a href="#sec-5">常用链接</a></li>
<li><a href="#sec-6">Bootstrap 简介</a></li>
<li><a href="#sec-7">UI调试工具Fiddler,微软开发的。</a></li>
<li><a href="#sec-8">获得jquery绑定的事件an</a></li>
<li><a href="#sec-9">$.ajax 在IE中不work</a></li>
<li><a href="#sec-10">firebug</a></li>
<li><a href="#sec-11">Jquery 查询对象的几种方式</a></li>
<li><a href="#sec-12">Jquery widget 编写</a>
<ul>
<li><a href="#sec-12-1">Involving the Mouse</a></li>
</ul>
</li>
<li><a href="#sec-13">piwik</a></li>
<li><a href="#sec-14">Bootstrap</a></li>
<li><a href="#sec-15">SSI</a></li>
<li><a href="#sec-16">Node.js</a>
<ul>
<li><a href="#sec-16-1">kickstrap</a></li>
</ul>
</li>
<li><a href="#sec-17">ajax 乱码</a></li>
<li><a href="#sec-18">表格截断</a></li>
<li><a href="#sec-19">autocompte</a></li>
<li><a href="#sec-20">min js</a></li>
<li><a href="#sec-21">Node js</a></li>
<li><a href="#sec-22">Angular + meteor</a>
<ul>
<li><a href="#sec-22-1">meteor</a></li>
<li><a href="#sec-22-2">NPM</a></li>
<li><a href="#sec-22-3">grunt</a></li>
<li><a href="#sec-22-4">METEOR AND METEORITE ON WINDOWS</a></li>
</ul>
</li>
<li><a href="#sec-23">CKeditor</a></li>
<li><a href="#sec-24">Raphaël</a></li>
<li><a href="#sec-25">D3</a></li>
<li><a href="#sec-26">Json 在线查看工具</a></li>
<li><a href="#sec-27">html 缓存</a></li>
<li><a href="#sec-28">查询股票</a></li>
<li><a href="#sec-29">Backbone</a></li>
<li><a href="#sec-30">图表</a></li>
<li><a href="#sec-31">Angular</a>
<ul>
<li><a href="#sec-31-1">dashboard</a></li>
<li><a href="#sec-31-2">iframe</a></li>
<li><a href="#sec-31-3">tab</a></li>
<li><a href="#sec-31-4">select</a></li>
</ul>
</li>
<li><a href="#sec-32">less</a></li>
<li><a href="#sec-33">JQuery操作iframe父页面与子页面的元素与方法</a></li>
<li><a href="#sec-34">js tree</a></li>
<li><a href="#sec-35">YO</a></li>
<li><a href="#sec-36">Component</a></li>
<li><a href="#sec-37">bower</a></li>
<li><a href="#sec-38">gulp</a></li>
<li><a href="#sec-39">生成图片</a></li>
<li><a href="#sec-40">css 新框架</a></li>
<li><a href="#sec-41">HTML5 学习小组规划</a>
<ul>
<li><a href="#sec-41-1">背景</a></li>
<li><a href="#sec-41-2">目标</a></li>
<li><a href="#sec-41-3">团队组建</a></li>
<li><a href="#sec-41-4">HTML5学习路线图</a>
<ul>
<li><a href="#sec-41-4-1">HTML5教程</a></li>
<li><a href="#sec-41-4-2">CSS教程</a></li>
<li><a href="#sec-41-4-3">JavaScript教程</a></li>
<li><a href="#sec-41-4-4">HTML5其它的核心技术</a></li>
</ul>
</li>
<li><a href="#sec-41-5">使用 H5 编写微信宣传页</a></li>
</ul>
</li>
</ul>
</div>
</div>
<ul class="org-ul">
<li>网页前端 <a href="http://www.pengyaou.com/LegendsZ/WebList/Technology/WebTechnologyIndex.html">http://www.pengyaou.com/LegendsZ/WebList/Technology/WebTechnologyIndex.html</a>
</li>
<li>Jq导航系列-侧边栏 <a href="http://www.pengyaou.com/LegendsZ/File/2014/09/19/20140919163107614.htm">http://www.pengyaou.com/LegendsZ/File/2014/09/19/20140919163107614.htm</a>
</li>
<li>IBM oneUI <a href="http://infolib.lotus.com/resources/oneui/3.0/docPublic/guidelines/quickstart.htm">http://infolib.lotus.com/resources/oneui/3.0/docPublic/guidelines/quickstart.htm</a>
</li>
<li><a href="https://c9.io/standino">https://c9.io/standino</a> 在线编辑器
</li>
<li></li>
</ul>

<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1">ES6 <a href="http://es6-features.org/#PromiseUsage">http://es6-features.org/#PromiseUsage</a></h2>
<div class="outline-text-2" id="text-1">
<p>
<a href="http://es6.ruanyifeng.com/">http://es6.ruanyifeng.com/</a>
</p>
</div>
</div>

<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2">require js</h2>
<div class="outline-text-2" id="text-2">
<ul class="org-ul">
<li><a href="http://www.requirejs.cn/">http://www.requirejs.cn/</a>
</li>
</ul>
</div>
</div>
<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3">React</h2>
<div class="outline-text-2" id="text-3">
<ul class="org-ul">
<li><a href="http://aeflash.com/2015-02/react-tips-and-best-practices.htm">http://aeflash.com/2015-02/react-tips-and-best-practices.htm</a>
</li>
<li><a href="http://blog.andrewray.me/flux-for-stupid-people/">http://blog.andrewray.me/flux-for-stupid-people/</a>
<ul class="org-ul">
<li><a href="http://tylermcginnis.com/reactjs-tutorial-pt-3-architecting-react-js-apps-with-flux/">http://tylermcginnis.com/reactjs-tutorial-pt-3-architecting-react-js-apps-with-flux/</a>
</li>
<li>17 DataTable Examples  <a href="http://react.rocks/tag/DataTable">http://react.rocks/tag/DataTable</a>
</li>
</ul>
</li>
</ul>
<pre class="example">
render : function() {
    var rows;
    for (var i = 0; i &lt; this.state.data.length; i++) {
      var item = this.state.data[i];

      rows.push(
        &lt;tr&gt;
          &lt;td&gt;{item.name}&lt;/td&gt;
          &lt;td&gt;{item.age}&lt;/td&gt;
          &lt;td&gt;{item.dob}&lt;/td&gt;
          &lt;td&gt;{item.score}&lt;/td&gt;
        &lt;/tr&gt;
      );
    }

    return (
        &lt;table&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th onClick={this.sortData.bind(null, 'name')}&gt;Name&lt;/th&gt;
              &lt;th onClick={this.sortData.bind(null, 'age')}&gt;Age&lt;/th&gt;
              &lt;th onClick={this.sortData.bind(null, 'dob')}&gt;D.O.B&lt;/th&gt;
              &lt;th onClick={this.sortData.bind(null, 'score')}&gt;Score&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            {rows}
          &lt;/tbody&gt;
        &lt;/table&gt;
    );
  }
</pre>
</div>
<div id="outline-container-sec-3-1" class="outline-3">
<h3 id="sec-3-1">通讯</h3>
<div class="outline-text-3" id="text-3-1">
<ul class="org-ul">
<li><a href="http://maketea.co.uk/2014/03/05/building-robust-web-apps-with-react-part-1.html">http://maketea.co.uk/2014/03/05/building-robust-web-apps-with-react-part-1.html</a>
</li>
</ul>

<p>
For further reaching notifications a publish/subscribe system will be more flexible and easier to maintain. This can be done
simply with native events or a library such PubSubJS, binding and unbinding with a components lifecycle methods. 
</p>

<pre class="example">
var Parent = React.createClass({
  handleMyEvent: function(e) {...},
  componentWillMount: function() {
    window.addEventListener("my-event", this.handleMyEvent, false);
  },
  componentWillUnmount: function() {
    window.removeEventListener("my-event", this.handleMyEvent, false);
  },
  render: function() {...}
});

var Grandchild = React.createClass({
  handleClick: function(e) {
    var customEvent = new CustomEvent("my-event",  {
      detail: { ... },
      bubbles: true
    });
    this.refs.link.getDOMNode().dispatchEvent(customEvent);
  },
  render: function() {
    return &lt;a ref="link" onClick={this.handleClick}&gt;Click me&lt;/a&gt;;
  }
});
</pre>
</div>
</div>
</div>
<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4">项目中使用到的技术</h2>
<div class="outline-text-2" id="text-4">
<ul class="org-ul">
<li>jquery-ui-portlet <a href="https://github.com/standino/jquery-ui-portlet">https://github.com/standino/jquery-ui-portlet</a>
</li>
<li>Bootstrap <a href="http://www.bootcss.com/">http://www.bootcss.com/</a>
</li>
<li>Backbone <a href="http://yujianshenbing.iteye.com/category/256978">http://yujianshenbing.iteye.com/category/256978</a>
</li>
<li>Angular-dashboard <a href="https://github.com/DataTorrent/malhar-angular-dashboard">https://github.com/DataTorrent/malhar-angular-dashboard</a>
</li>
<li>highcharts <a href="https://github.com/highslide-software/highcharts.com">https://github.com/highslide-software/highcharts.com</a>
</li>
<li>D3 <a href="https://github.com/mbostock/d3">https://github.com/mbostock/d3</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-5" class="outline-2">
<h2 id="sec-5">常用链接</h2>
<div class="outline-text-2" id="text-5">
<ul class="org-ul">
<li><a href="http://www.myexception.cn/javascript/407684.html">DOJO js 根本dom操作</a>
</li>
<li><a href="http://folyred.iteye.com/blog/946565">http://folyred.iteye.com/blog/946565</a>
</li>
<li><a href="https://dojotoolkit.org/reference-guide/1.7/dojo/dom-construct.html">https://dojotoolkit.org/reference-guide/1.7/dojo/dom-construct.html</a>
</li>
<li><a href="http://jinlong.github.io/blog/2013/08/29/devtoolsecrets/">浏览器开发工具的秘密</a>
</li>
<li><a href="http://www.cnblogs.com/wukenaihe/archive/2013/01/27/javascript%E8%B0%83%E8%AF%95.html">Chrome developer tool介绍（javascript调试）</a>
</li>
<li><a href="http://www.jb51.net/article/18111.htm">jquery控制div下所有连接</a>
</li>
<li><a href="https://micate.me/debug-jquery-object-binded-events.note">获取绑定在 jQuery 对象上的事件</a>
</li>
<li><a href="http://www.divcss5.com/jiqiao/j497.shtml">jQuery适用技巧笔记整合</a>
</li>
<li><a href="http://kelvinh.github.io/blog/2011/12/17/jquery-ajax-request-and-struts2-ognl-error/">jQuery发送含有数组参数的ajax请求以及后台Struts2的OGNL解析错误</a>
</li>
<li><a href="http://www.gbtags.com/gb/share/3624.htm">六个前端开发工程师必备的Web设计模式/模块资源</a>
</li>
<li><a href="http://www.cnblogs.com/html5tricks/p/3938619.html">精心挑选的HTML5/CSS3应用及源码</a>
</li>
<li><a href="http://www.w2bc.com/Article/5384">纯css3实现的超炫checkbox复选框和radio单选框</a>
</li>
<li><a href="http://www.nodenpm.com/news/18">淘宝搭建npm.taobao.org为国内用户提供npm国内镜像</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-6" class="outline-2">
<h2 id="sec-6"><a href="http://www.w3cschool.cc/bootstrap/bootstrap-intro.html">Bootstrap 简介</a></h2>
<div class="outline-text-2" id="text-6">
<ul class="org-ul">
<li><a href="https://wrapbootstrap.com/">Theme and temaplate</a>
</li>
<li><a href="http://reactiveraven.github.io/jqBootstrapValidation/">http://reactiveraven.github.io/jqBootstrapValidation/</a>
</li>
<li><a href="http://www.html5cn.com.cn/bootstrap/docs/index.html">http://www.html5cn.com.cn/bootstrap/docs/index.html</a>
</li>
</ul>
<p>
Bootstrap 是一个用于快速开发 Web 应用程序和网站的前端框架。
</p>

<p>
在现代 Web 开发中，有几个几乎所有的 Web 项目中都需要的组件。
</p>

<p>
Bootstrap 为您提供了所有这些基本的模块 - Grid、Typography、Tables、Forms、Buttons 和 Responsiveness。
</p>

<p>
此外，还有大量其他有用的前端组件，比如 Dropdowns、Navigation、Modals、Typehead、Pagination、Carousal、Breadcrumb、Tab、Thumbnails、Headers 等等。
</p>

<p>
有了这些，你可以搭建一个 Web 项目，并让它运行地更快速更轻松。
</p>
</div>
</div>

<div id="outline-container-sec-7" class="outline-2">
<h2 id="sec-7">UI调试工具Fiddler,微软开发的。</h2>
</div>
<div id="outline-container-sec-8" class="outline-2">
<h2 id="sec-8">获得jquery绑定的事件an</h2>
<div class="outline-text-2" id="text-8">
<div class="org-src-container">

<pre class="src src-javascript">var events = $(".add").data('events');
if (events &amp;&amp; events.click) {



    // jQuery 1.4.x+
    $.each(events.click, function(key, handlerObject) {
        console.info(handlerObject.handler);
    });
}
</pre>
</div>
</div>
</div>


<div id="outline-container-sec-9" class="outline-2">
<h2 id="sec-9">$.ajax 在IE中不work</h2>
<div class="outline-text-2" id="text-9">
<div class="org-src-container">

<pre class="src src-javascript">$.ajaxSetup ({
    cache: false //关闭AJAX相应的缓存
});
</pre>
</div>
</div>
</div>

<div id="outline-container-sec-10" class="outline-2">
<h2 id="sec-10">firebug</h2>
<div class="outline-text-2" id="text-10">
<ul class="org-ul">
<li><a href="http://mynoteweb.com/node/114">用Firebug调试JavaScript</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-11" class="outline-2">
<h2 id="sec-11">Jquery 查询对象的几种方式</h2>
<div class="outline-text-2" id="text-11">
<pre class="example">
| 查询方式                 | 例子                                          |
| 按class查询              | $(".myclass")                                 |
| 按ID查询                 | $("#myid")                                    |
| 定位某个元素，查找子元素 | $(".quickMenu i").bind('click', function () { |
| 函数里获得this的子元素   | $(this).find('i').toggleClass("ticked");      |
|                          |                                               |
</pre>
</div>
</div>
<div id="outline-container-sec-12" class="outline-2">
<h2 id="sec-12">Jquery widget 编写</h2>
<div class="outline-text-2" id="text-12">
<ol class="org-ol">
<li><a href="http://bililite.com/blog/understanding-jquery-ui-widgets-a-tutorial/">http://bililite.com/blog/understanding-jquery-ui-widgets-a-tutorial/</a>
</li>
<li><a href="http://www.cnblogs.com/dc10101/archive/2012/05/03/2481004.html">编写jQueryUI插件(widget)</a>
</li>
<li><a href="http://coding-coding.com/%E4%BD%BF%E7%94%A8jquery-ui-widget-factory%E7%BC%96%E5%86%99jquery%E6%8F%92%E4%BB%B6/">使用jquery-ui-widget-factory编写jquery插件</a>
</li>
</ol>

<div class="org-src-container">

<pre class="src src-javascript">var Green5  = {
        getLevel: function () { return this.options.level; },
        setLevel: function (x) {
                var greenlevels = this.options.greenlevels;
                var level = Math.floor(Math.min(greenlevels.length-1, Math.max(0,x)));
                this.options.level = level;
                this.element.css({background: greenlevels[level]});
                this._trigger('change', 0, level);
        },
        _init: function() { this.setLevel(this.getLevel()); }, // grab the default value and use it
        darker: function() { this.setLevel(this.getLevel()-1); },
        lighter: function() { this.setLevel(this.getLevel()+1); },
        off: function() {
                this.element.css({background: 'none'});
                this._trigger('done');
                this.destroy(); // use the predefined function
        },
        options: {
                level: 15,
                greenlevels: ['#000','#010','#020','#030','#040','#050','#060','#070','#080','#090','#0a0','#0b0','#0c0','#0d0','#0e0','#0f0', '#fff']
        }
};
$.widget("ui.green5", Green5);
</pre>
</div>

<div class="org-src-container">

<pre class="src src-html">&lt;p class="target"&gt;This is a test paragraph with green level &lt;span class="level"&gt;undefined&lt;/span&gt;.&lt;/p&gt;
</pre>
</div>
<div class="org-src-container">

<pre class="src src-javascript">//  The on button above does the following:
$('.target').green5({
        change: function(event, level) { $('.level', this).text(level); } // callback to handle change event
});
$('.target').bind('green5done', function() { $('.level', this).text('undefined');alert('bye!') }); // event handler for done event
</pre>
</div>
</div>

<div id="outline-container-sec-12-1" class="outline-3">
<h3 id="sec-12-1">Involving the Mouse</h3>
<div class="outline-text-3" id="text-12-1">
<p>
Now, a lot of what we want to do with widgets involves mouse tracking, so ui.core.js provides a mixin object that includes lots of
useful methods for the mouse. All we need to do is add the $.ui.mouse widget to our widget prototype:
</p>

<div class="org-src-container">

<pre class="src src-javascript">var Green6 = {mouse-overriding function and widget-specific functions};
$.widget ('ui.green6', $.ui.mouse, Green6);
</pre>
</div>
<p>
And override $.ui.mouse's functions (_mouseStart, _mouseDrag, _mouseStop) to do something useful, and call this._mouseInit in your
this._init and this._mouseDestroy in your this.destroy. The mouse defaults are automagically including in your options object; see
the mouse code for details.
</p>

<p>
Let's add some mouse control to our greenerizer:
</p>
<div class="org-src-container">

<pre class="src src-javascript">Green6 = $.extend({}, $.ui.green5.prototype, { // leave the old Green5 alone; create a new object
        _init: function(){
                $.ui.green5.prototype._init.call(this); // call the original function
                this._mouseInit(); // start up the mouse handling
        },
        destroy: function(){
                this._mouseDestroy();
                $.ui.green5.prototype.destroy.call(this); // call the original function
        },
        // need to override the mouse functions
        _mouseStart: function(e){
                // keep track of where the mouse started
                this.xStart = e.pageX; // not in the options object; this is not something that can be initialized by the user
                this.levelStart = this.options.level;
        },
        _mouseDrag: function(e){
                this.setLevel (this.levelStart +(e.pageX-this.xStart)/this.options.distance);
        },
        options: {
                level: 15,
                greenlevels: ['#000','#010','#020','#030','#040','#050','#060','#070','#080','#090','#0a0','#0b0','#0c0','#0d0','#0e0','#0f0', '#fff'],
                distance: 10
        }
});
$.widget("ui.green6", $.ui.mouse, Green6);
</pre>
</div>

<div class="org-src-container">

<pre class="src src-html">&lt;p class="target"&gt;This is a test paragraph with green level &lt;span class="level"&gt;undefined&lt;/span&gt;.&lt;/p&gt;
</pre>
</div>

<p>
The ever-alert reader will note what we've just done: subclassed green5 to make green6, including calls to "super" methods. This
ought to be abstracted out into its own method, something like
</p>

<div class="org-src-container">

<pre class="src src-javascript">$.ui.green5.subclass("green6", $.ui.mouse, {mouseStart:function(){}, mouseDrag: function(){}})
</pre>
</div>
</div>
</div>
</div>

<div id="outline-container-sec-13" class="outline-2">
<h2 id="sec-13">piwik</h2>
<div class="outline-text-2" id="text-13">
<p>
API: <a href="http://developer.piwik.org/api-reference/tracking-javascript#where-can-i-find-the-piwik-tracking-code">http://developer.piwik.org/api-reference/tracking-javascript#where-can-i-find-the-piwik-tracking-code</a>
</p>
</div>
</div>

<div id="outline-container-sec-14" class="outline-2">
<h2 id="sec-14"><a href="http://www.bootcss.com/">Bootstrap</a></h2>
</div>

<div id="outline-container-sec-15" class="outline-2">
<h2 id="sec-15">SSI</h2>
<div class="outline-text-2" id="text-15">
<p>
<a href="http://blog.csdn.net/cpp_lzth/article/details/6167591">http://blog.csdn.net/cpp_lzth/article/details/6167591</a>
</p>
</div>
</div>

<div id="outline-container-sec-16" class="outline-2">
<h2 id="sec-16">Node.js</h2>
<div class="outline-text-2" id="text-16">
<ol class="org-ol">
<li>在Windows下安装Node.js、npm、express <a href="http://blog.uifanr.com/2013/03/12/472">http://blog.uifanr.com/2013/03/12/472</a>
</li>
</ol>

<p>
ubutnu sudo add-apt-repository ppa:chris-lea/node.js
</p>
</div>
<div id="outline-container-sec-16-1" class="outline-3">
<h3 id="sec-16-1"><a href="http://getkickstrap.com/docs.html#/first-steps">kickstrap</a></h3>
<div class="outline-text-3" id="text-16-1">
<p>
<a href="https://www.firebase.com/tutorial/#session/va7gdy2y5s0">https://www.firebase.com/tutorial/#session/va7gdy2y5s0</a>
</p>
</div>
</div>
</div>

<div id="outline-container-sec-17" class="outline-2">
<h2 id="sec-17">ajax 乱码</h2>
<div class="outline-text-2" id="text-17">
<p>
encodeURIComponent(
</p>

<pre class="example">
$.ajax({
  url: "/contact/list?keyword="+encodeURIComponent(keyword)+"&amp;pageNum="+page,
  dataType : "json",
  success : function(data) {
</pre>
</div>
</div>

<div id="outline-container-sec-18" class="outline-2">
<h2 id="sec-18">表格截断</h2>
<div class="outline-text-2" id="text-18">
<ol class="org-ol">
<li><a href="http://www.045d.com/post/461.html">http://www.045d.com/post/461.html</a>
</li>
<li><a href="http://www.cftea.com/c/2010/12/UVBUCD0J888L2XPQ.asp">http://www.cftea.com/c/2010/12/UVBUCD0J888L2XPQ.asp</a>
</li>
</ol>

<p>
《
       .notice-td { overflow:hidden;white-space:nowrap;word-break:keep-all;  }
</p>
</div>
</div>

<div id="outline-container-sec-19" class="outline-2">
<h2 id="sec-19">autocompte</h2>
<div class="outline-text-2" id="text-19">
<p>
<a href="http://jqueryui.com/autocomplete/#multiple-remote">http://jqueryui.com/autocomplete/#multiple-remote</a>
</p>
</div>
</div>
<div id="outline-container-sec-20" class="outline-2">
<h2 id="sec-20">min js</h2>
<div class="outline-text-2" id="text-20">
<ul class="org-ul">
<li><a href="http://yui.github.io/yuicompressor/">http://yui.github.io/yuicompressor/</a>
</li>
<li><a href="https://github.com/yui/yuicompressor/releases">https://github.com/yui/yuicompressor/releases</a>
</li>
</ul>

<pre class="example">
java -jar yuicompressor-x.y.z.jar myfile.js -o myfile-min.js
java -jar /home/will/JD/tools/yuicompressor-2.4.8.jar  jquery.portlet.js -o  jquery.portlet.min.js

java -jar /home/will/JD/tools/yuicompressor-2.4.8.jar  jquery.portlet.js -o  jquery.portlet.pack.js
</pre>
</div>
</div>

<div id="outline-container-sec-21" class="outline-2">
<h2 id="sec-21">Node js</h2>
<div class="outline-text-2" id="text-21">
<ul class="org-ul">
<li><a href="http://www.nodebeginner.org/index-zh-cn.html">http://www.nodebeginner.org/index-zh-cn.html</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-22" class="outline-2">
<h2 id="sec-22"><a href="https://angularjs.org/">Angular</a> + meteor</h2>
<div class="outline-text-2" id="text-22">
<p>
通过阅读文章好像Angular更好一些
</p>

<ol class="org-ol">
<li><a href="http://www.csdn.net/article/2013-09-09/2816880-angular-ember-javascript-frameworks">http://www.csdn.net/article/2013-09-09/2816880-angular-ember-javascript-frameworks</a>
</li>
<li><a href="http://blog.jobbole.com/46779/">http://blog.jobbole.com/46779/</a>
</li>
<li><a href="http://zouyesheng.com/angular.html">http://zouyesheng.com/angular.html</a>
</li>
<li><a href="http://emberjs.com/">http://emberjs.com/</a>
</li>
<li><a href="http://www.cnblogs.com/rush/archive/2013/04/29/3051191.html">http://www.cnblogs.com/rush/archive/2013/04/29/3051191.html</a>
</li>
<li><a href="http://angularjs.org/">http://angularjs.org/</a>
</li>
<li><a href="http://developer.51cto.com/art/201308/406932_all.htm">http://developer.51cto.com/art/201308/406932_all.htm</a>
</li>
<li><a href="http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html">http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html</a>
</li>
<li><a href="http://docs.meteor.com/#livehtmltemplates">http://docs.meteor.com/#livehtmltemplates</a>
</li>
<li><a href="https://github.com/angular-ui/ui-sortable">https://github.com/angular-ui/ui-sortable</a>
</li>
<li><a href="http://angular-ui.github.io/ng-grid/">http://angular-ui.github.io/ng-grid/</a>
</li>
<li><a href="https://github.com/angular-ui/ng-grid">https://github.com/angular-ui/ng-grid</a>
</li>
<li><a href="https://github.com/JimLiu/angular-ui-tree">https://github.com/JimLiu/angular-ui-tree</a>
</li>
<li><a href="https://github.com/search?p=3&q=angular-ui&ref=cmdform&type=Repositories">https://github.com/search?p=3&q=angular-ui&ref=cmdform&type=Repositories</a>
</li>
<li><a href="http://angular-ui.github.io/bootstrap/">http://angular-ui.github.io/bootstrap/</a>
</li>
<li><a href="http://www.csdn.net/article/2013-03-14/2814486-Meteor-Web-App">http://www.csdn.net/article/2013-03-14/2814486-Meteor-Web-App</a>
</li>
<li><a href="http://angular-ui.github.io/">http://angular-ui.github.io/</a>
</li>
<li><a href="http://www.infoq.com/cn/news/2014/05/angularjs-front-end-architecture?utm_campaign=infoq_content&utm_source=infoq&utm_medium=feed&utm_term=global">基于AngularJS的企业软件前端架构</a>
</li>
</ol>

<p>
**Portal 
</p>
<ol class="org-ol">
<li><a href="https://github.com/nickholub/angular-ui-dashboard">https://github.com/nickholub/angular-ui-dashboard</a>
</li>
<li><a href="http://nickholub.github.io/angular-dashboard-app/#/">http://nickholub.github.io/angular-dashboard-app/#/</a>
</li>
<li><a href="https://github.com/flamejs/flame.js">https://github.com/flamejs/flame.js</a>
</li>
<li>JQuery UI - sortable 排序插件参数详解 <a href="http://www.cnblogs.com/yoyogehei/archive/2011/07/28/2119910.html">http://www.cnblogs.com/yoyogehei/archive/2011/07/28/2119910.html</a>
</li>
<li><a href="http://www.hongkiat.com/blog/jquery-ui-sortable/">http://www.hongkiat.com/blog/jquery-ui-sortable/</a>
</li>
<li>AngularJS入门教程 <a href="http://www.ituring.com.cn/minibook/303">http://www.ituring.com.cn/minibook/303</a>
</li>
<li><a href="http://blog.pusher.com/making-angular-js-realtime-with-pusher/">Making Angular.js realtime with Websockets</a>
</li>
<li><a href="http://www.safaribooksonline.com/library/view/angularjs-up-and/9781491901939/">AngularJS: Up and Running</a>
</li>
<li><a href="http://www.safaribooksonline.com/library/view/build-a-strong/9781491905661/">Build a Strong AngularJS Foundation</a>
</li>
<li><a href="http://angularjs.cn/">Angular中文社区</a>
</li>
</ol>
</div>

<div id="outline-container-sec-22-1" class="outline-3">
<h3 id="sec-22-1">meteor</h3>
<div class="outline-text-3" id="text-22-1">
<ol class="org-ol">
<li><a href="http://www.likebin.net/meteorlist.html">http://www.likebin.net/meteorlist.html</a>
</li>
</ol>


<p>
In this book, we're using camelCase because it's the usual JavaScript way of doing things (after all, it's JavaScript,
not java_script!).
The only exceptions to this rule are file names, which will use underscores (my_file.js), and CSS classes, which
use hyphens (.my-class). The reason for this is that in the filesystem, underscores are most common, while the
CSS syntax itself already uses hyphens (font-family, text-align, etc.).
</p>
</div>
</div>

<div id="outline-container-sec-22-2" class="outline-3">
<h3 id="sec-22-2">NPM</h3>
<div class="outline-text-3" id="text-22-2">
<ol class="org-ol">
<li><a href="http://www.cnblogs.com/chyingp/p/npm.html">http://www.cnblogs.com/chyingp/p/npm.html</a>
</li>
</ol>

<pre class="example">
sudo yum install -y npm 
sudo npm install -g bower
sudo npm install -g grunt-cli
sudo npm install -g meteorite
mrt create microscope
</pre>
</div>
</div>

<div id="outline-container-sec-22-3" class="outline-3">
<h3 id="sec-22-3">grunt</h3>
<div class="outline-text-3" id="text-22-3">
<ol class="org-ol">
<li><a href="http://gruntjs.com/getting-started">http://gruntjs.com/getting-started</a>
</li>
</ol>

<pre class="example">
sudo npm install -g grunt-cli
sudo npm --proxy http://127.0.0.1:8087 install -g grunt-cli
</pre>
</div>
</div>

<div id="outline-container-sec-22-4" class="outline-3">
<h3 id="sec-22-4">METEOR AND METEORITE ON WINDOWS</h3>
<div class="outline-text-3" id="text-22-4">
<pre class="example">
TUE AUG 05 2014
Both Meteor and Meteorite are unofficially supported on Windows, and these are the required steps to make it work.
Install Node and NPM from http://nodejs.org/.
Install the unofficial Meteor from http://win.meteor.com/.
Install git from http://git-scm.com/downloads.
To get Meteorite (package management for Meteor) to work on Windows, a special branch of the Meteorite project must used. Clone the Meteorite repository:
git clone https://github.com/danielsvane/meteorite
Step into the downloaded repo:
cd meteorite
Then switch the branch to the Windows supported one:
git checkout windows-updates
Install the branch globally with NPM:
npm install -g
You now have a working Meteor and Meteorite development setup on Windows. When adding a new package using Meteorite use meteorite instead of mrt, as this name is already used on Windows.
</pre>
</div>
</div>
</div>

<div id="outline-container-sec-23" class="outline-2">
<h2 id="sec-23">CKeditor</h2>
<div class="outline-text-2" id="text-23">
<ol class="org-ol">
<li><a href="http://www.mzone.cc/article/288.html">http://www.mzone.cc/article/288.html</a>
</li>
<li><a href="http://ipc.iteye.com/blog/695393">http://ipc.iteye.com/blog/695393</a>
</li>
<li><a href="http://docs.ckeditor.com/">http://docs.ckeditor.com/</a>
</li>
</ol>

<p>
代码在ideas/ckeditorPlugin目录下
config.js
</p>

<pre class="example">
/**
 * @license Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights
 *          reserved. For licensing, see LICENSE.html or
 *          http://ckeditor.com/license
 */

CKEDITOR.editorConfig = function(config) {
	// Define changes to default configuration here. For example:
	//config.language = 'cn';
        config.font_names=' 宋体/宋体;黑体/黑体;仿宋/仿宋_GB2312;楷体/楷体_GB2312;隶书/隶书;幼圆/幼圆;微软雅黑/微软雅黑;'+ config.font_names;
	// config.uiColor = '#AADC6E';
        config.pasteFromWordRemoveStyles = false;
        config.pasteFromWordRemoveFontStyles = false;
     	config.toolbar = [
			[ 'Source', '-', 'NewPage', '-', 'Templates' ],
			[ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-',
					'Print', 'SpellChecker', 'Scayt' ],
			[ 'Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll',
					'RemoveFormat' ],
			[ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select',
					'Button', 'ImageButton', 'HiddenField' ],
			'/',
			[ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript',
					'Superscript' ],
			[ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent',
					'Blockquote' ],
			[ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ],
			[ 'Link', 'Unlink', 'Anchor' ],
			[ '__my_company_1__upload','Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley',
					'SpecialChar', 'PageBreak' ], '/',
			[ 'Styles', 'Format', 'Font', 'FontSize' ],
			[ 'TextColor', 'BGColor' ] ];
        config.extraPlugins += (config.extraPlugins ? ',__my_company_1__upload' : '__my_company_1__upload');
};
</pre>
</div>
</div>

<div id="outline-container-sec-24" class="outline-2">
<h2 id="sec-24"><a href="http://raphaeljs.com/">Raphaël</a></h2>
<div class="outline-text-2" id="text-24">
<ul class="org-ul">
<li><a href="http://webmonarch.github.io/d34raphael/">http://webmonarch.github.io/d34raphael/</a>
</li>
<li><a href="http://code.tutsplus.com/tutorials/an-introduction-to-the-raphael-js-library--net-7186">http://code.tutsplus.com/tutorials/an-introduction-to-the-raphael-js-library--net-7186</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-25" class="outline-2">
<h2 id="sec-25">D3</h2>
<div class="outline-text-2" id="text-25">
<ul class="org-ul">
<li>Interactive Data Visualization for the Web <a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html">http://chimera.labs.oreilly.com/books/1230000000345/index.html</a>
</li>
<li><a href="http://stackoverflow.com/questions/12595834/open-source-library-for-web-based-drill-down-charts">Open source library for web-based drill down charts </a>
</li>
<li><a href="http://12devsofxmas.co.uk/2012/01/data-visualisation/">http://12devsofxmas.co.uk/2012/01/data-visualisation/</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-26" class="outline-2">
<h2 id="sec-26">Json 在线查看工具</h2>
<div class="outline-text-2" id="text-26">
<p>
1 <a href="http://jsonviewer.stack.hu/">http://jsonviewer.stack.hu/</a>
</p>
</div>
</div>

<div id="outline-container-sec-27" class="outline-2">
<h2 id="sec-27">html 缓存</h2>
<div class="outline-text-2" id="text-27">
<p>
如下代码会禁用html缓存
</p>

<pre class="example">
&lt;meta HTTP-EQUIV="pragma" CONTENT="no-cache"&gt; 
&lt;meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"&gt; 
&lt;meta HTTP-EQUIV="expires" CONTENT="0"&gt;
</pre>

<p>
针对ajax，需要如下设置:
</p>

<p>
方法一：加时间戳 var url = BaseURL + "&amp;timeStamp=" + new Date().getTime();
方法二：加随机数 var url = BaseURL + "&amp;r=" + Math.random();
</p>
</div>
</div>

<div id="outline-container-sec-28" class="outline-2">
<h2 id="sec-28">查询股票</h2>
<div class="outline-text-2" id="text-28">
<ul class="org-ul">
<li><a href="http://shenhai.zqmyw.cn/thread-2203-1-1.html">如何使用新浪股票接口获取恒生指数及美国的一些股票指数？</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-29" class="outline-2">
<h2 id="sec-29">Backbone</h2>
<div class="outline-text-2" id="text-29">
<ul class="org-ul">
<li>Backbone入门指南（一）：什么是Backbone? <a href="http://yujianshenbing.iteye.com/blog/1748447">http://yujianshenbing.iteye.com/blog/1748447</a>
</li>
<li><a href="http://www.narrativescience.com/blog/angular-backbone/">Angular with a Backbone</a>
</li>
<li><a href="http://blog.42floors.com/coded-angular-tutorial-app-backbone-took-260-code/">I Coded the Angular Tutorial App in Backbone and it Took 260% More Code</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-30" class="outline-2">
<h2 id="sec-30">图表</h2>
<div class="outline-text-2" id="text-30">
<ul class="org-ul">
<li><a href="http://echarts.baidu.com/doc/example.html">http://echarts.baidu.com/doc/example.html</a>
</li>
<li><a href="http://www.highcharts.com/studies/map-from-svg.htm">http://www.highcharts.com/studies/map-from-svg.htm</a>
</li>
<li></li>
</ul>
</div>
</div>


<div id="outline-container-sec-31" class="outline-2">
<h2 id="sec-31">Angular</h2>
<div class="outline-text-2" id="text-31">
<ul class="org-ul">
<li><a href="http://angularjs.cn/A00a">http://angularjs.cn/A00a</a>
</li>
<li><a href="http://plnkr.co/edit/T9J7bz?p=preview">http://plnkr.co/edit/T9J7bz?p=preview</a>
</li>
<li><a href="http://plnkr.co/edit/T9J7bz?p=preview">http://plnkr.co/edit/T9J7bz?p=preview</a>  D3 chart 
</li>
</ul>
</div>
<div id="outline-container-sec-31-1" class="outline-3">
<h3 id="sec-31-1">dashboard</h3>
<div class="outline-text-3" id="text-31-1">
<ul class="org-ul">
<li><a href="http://ehesp.github.io/Responsive-Dashboard/">http://ehesp.github.io/Responsive-Dashboard/</a>#
</li>
<li><a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-31-2" class="outline-3">
<h3 id="sec-31-2">iframe</h3>
<div class="outline-text-3" id="text-31-2">
<ul class="org-ul">
<li><a href="http://stackoverflow.com/questions/20045150/angular-js-how-to-set-an-iframe-src-attribute-from-a-variable">http://stackoverflow.com/questions/20045150/angular-js-how-to-set-an-iframe-src-attribute-from-a-variable</a>
</li>
<li><a href="http://jsfiddle.net/478wA/">http://jsfiddle.net/478wA/</a>
</li>
</ul>

<div class="org-src-container">

<pre class="src src-html">&lt;div ng-app ng-controller="searchPage"&gt;
    &lt;div ng-repeat="page in searchResults"&gt;
        &lt;a ng-click="itemDetail(page._infoLink)"&gt;{{page.label}}&lt;/a&gt;
    &lt;/div&gt;
    &lt;iframe width="500" height="400" ng-src="{{detailFrame}}"&gt;&lt;/iframe&gt;
&lt;/div&gt;
</pre>
</div>

<div class="org-src-container">

<pre class="src src-javascript">function searchPage($scope){
    $scope.searchResults = [{label:"BBC",_infoLink:"http://www.bbc.co.uk/"},{label:"CNN",_infoLink:"http://edition.cnn.com/"}];

    $scope.itemDetail = function(link){
        $scope.detailFrame = link;
    };
}
</pre>
</div>
</div>
</div>

<div id="outline-container-sec-31-3" class="outline-3">
<h3 id="sec-31-3">tab</h3>
<div class="outline-text-3" id="text-31-3">
<p>
<a href="http://plnkr.co/edit/IZiEskpyprh3vt9TTUNd?p=preview">http://plnkr.co/edit/IZiEskpyprh3vt9TTUNd?p=preview</a>
</p>
</div>
</div>

<div id="outline-container-sec-31-4" class="outline-3">
<h3 id="sec-31-4">select</h3>
<div class="outline-text-3" id="text-31-4">
<ul class="org-ul">
<li><a href="http://wenzhixin.net.cn/p/multiple-select/docs/#multiple-select">http://wenzhixin.net.cn/p/multiple-select/docs/#multiple-select</a>
</li>
</ul>
</div>
</div>
</div>

<div id="outline-container-sec-32" class="outline-2">
<h2 id="sec-32">less</h2>
<div class="outline-text-2" id="text-32">
<ul class="org-ul">
<li><a href="http://lesscss.org/">http://lesscss.org/</a>
</li>
<li><a href="http://www.bootcss.com/p/lesscss/">http://www.bootcss.com/p/lesscss/</a>
</li>
</ul>
</div>
</div>



<div id="outline-container-sec-33" class="outline-2">
<h2 id="sec-33">JQuery操作iframe父页面与子页面的元素与方法</h2>
<div class="outline-text-2" id="text-33">
<p>
JQUERY IFRAME
下面简单使用Jquery来操作iframe的一些记录，这个使用纯JS与可以实现。
第一、在iframe中查找父页面元素的方法：
$('#id', window.parent.document)
第二、在父页面中获取iframe中的元素方法：
$(this).contents().find("#suggestBox")
第三、在iframe中调用父页面中定义的方法和变量：
parent.method
parent.value
iframe里用jquery获取父页面body
iframe.html
</p>

<p>
&lt;html&gt;
&lt;script src='jquerymin.js'&gt;
&lt;/script&gt;
&lt;body id='1'&gt;
    &lt;div&gt;it is a iframe&lt;/div&gt;
&lt;/body&gt;    
&lt;script&gt;
    $(document).ready(
        function()
        {
</p>

<p>
var c = $(window.parent.document.body) //麻烦的方法： var c = $($(window).eq(0)<sup><a id="fnr.1" name="fnr.1" class="footref" href="#fn.1">1</a></sup>.parent.document).find('body'); ，忘了可以用前面的方法了
</p>

<p>
    alert(c.html());
    }
);
</p>

<p>
&lt;/script&gt;
&lt;/html&gt;
</p>





<p>
content.html
</p>

<p>
&lt;html&gt;
    &lt;script src='jquerymin.js'&gt;
&lt;/script&gt;
&lt;body id='fa'&gt;
    &lt;iframe src='iframe.html' width='100' height='100'&gt;&lt;/iframe&gt;
    &lt;br&gt;
        &lt;br&gt;
            &lt;br&gt;
            &lt;div id='mydiv'&gt;content iframe&lt;/div&gt;
&lt;/body&gt;    
&lt;script&gt;
    function a()
    {
        alert(1);
    }
    alert($(document).text());
    &lt;/script&gt;
&lt;/html&gt;
</p>
</div>
</div>

<div id="outline-container-sec-34" class="outline-2">
<h2 id="sec-34">js tree</h2>
<div class="outline-text-2" id="text-34">
<ul class="org-ul">
<li><a href="http://www.jstree.com/plugins/">http://www.jstree.com/plugins/</a>
</li>
<li><a href="https://github.com/daredevel/jquery-tree">https://github.com/daredevel/jquery-tree</a>
</li>
<li><a href="http://www.jqueryrain.com/demo/jquery-treeview/">http://www.jqueryrain.com/demo/jquery-treeview/</a>  Treelistfilter : jQuery plugin support filtering on Hirerarchy Tree
</li>
<li><a href="http://wwwendt.de/tech/dynatree/doc/samples.html">http://wwwendt.de/tech/dynatree/doc/samples.html</a>
</li>
<li><a href="http://htmlpreview.github.io/?https://github.com/daredevel/jquery-tree/blob/master/index.html">http://htmlpreview.github.io/?https://github.com/daredevel/jquery-tree/blob/master/index.html</a>
</li>
<li><a href="http://mbraak.github.io/jqTree/examples/08_multiple_select.html">http://mbraak.github.io/jqTree/examples/08_multiple_select.html</a>
</li>
</ul>
</div>
</div>



<div id="outline-container-sec-35" class="outline-2">
<h2 id="sec-35">YO</h2>
<div class="outline-text-2" id="text-35">
<pre class="example">
npm install -g yo

npm install -g browserify


# ~/npm/bin
</pre>
</div>
</div>

<div id="outline-container-sec-36" class="outline-2">
<h2 id="sec-36">Component</h2>
<div class="outline-text-2" id="text-36">
<ul class="org-ul">
<li><a href="http://blog.benmcmahen.com/post/55280740882/using-component-js">Using Component.js</a>
</li>
</ul>


<pre class="example">
sudo npm install -g component
</pre>
</div>
</div>

<div id="outline-container-sec-37" class="outline-2">
<h2 id="sec-37">bower</h2>
<div class="outline-text-2" id="text-37">
<p>
git config --global url.<a href="https://.insteadOf">https://.insteadOf</a> git://
</p>

<pre class="example">
bower install https://github.com/jquery/jquery.git#1.11.0  --save
bower install jquery-ui  --save
bower install https://github.com/jashkenas/underscore.git  --save
bower install https://github.com/jquery/jquery-ui.git#1.11.0  --save

 bower install material-design-icons --save
 bower install bootstrap --save
 bower install font-awesome --save
</pre>
</div>
</div>

<div id="outline-container-sec-38" class="outline-2">
<h2 id="sec-38">gulp</h2>
<div class="outline-text-2" id="text-38">
<ul class="org-ul">
<li><a href="http://www.w3ctech.com/topic/74">Gulp挑战Grunt，背后的哲学</a>
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-39" class="outline-2">
<h2 id="sec-39">生成图片</h2>
<div class="outline-text-2" id="text-39">
<ul class="org-ul">
<li><a href="http://placeholder.qiniudn.com/184x37/f60/fff">http://placeholder.qiniudn.com/184x37/f60/fff</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-40" class="outline-2">
<h2 id="sec-40">css 新框架</h2>
<div class="outline-text-2" id="text-40">
<ul class="org-ul">
<li><a href="http://zh.semantic-ui.com/">http://zh.semantic-ui.com/</a>
</li>
<li></li>
</ul>
</div>
</div>

<div id="outline-container-sec-41" class="outline-2">
<h2 id="sec-41">HTML5 学习小组规划</h2>
<div class="outline-text-2" id="text-41">
</div><div id="outline-container-sec-41-1" class="outline-3">
<h3 id="sec-41-1">背景</h3>
<div class="outline-text-3" id="text-41-1">
<p>
HTML5 的标准已经发布。作为互联网公司的开发人员的我们，需要跟进技术潮流，使用新技术开发出更好的系统来服务于客户。因此我们筹划组建
HTML5 学习小组。
</p>
</div>
</div>

<div id="outline-container-sec-41-2" class="outline-3">
<h3 id="sec-41-2">目标</h3>
<div class="outline-text-3" id="text-41-2">
<ul class="org-ul">
<li>组织多次 HTML5 相关技术的讲座，向全部门开发人员普及 HTML5 技术。
</li>
<li>在UI标准化的开发成果的基础上，制定基于 HTML5 的开发标准。
</li>
<li>开发出一个原型系统。基于这个原型系统，开发人员可以快速使用 HTML5 技术开发他们的系统。
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-41-3" class="outline-3">
<h3 id="sec-41-3">团队组建</h3>
<div class="outline-text-3" id="text-41-3">
<ul class="org-ul">
<li>以目前UI标准化小组成员为基础创立 HTML5 学习小组。
</li>
<li>小组成员选择自己感兴趣的课题进行学习分享。
</li>
<li>在学习的基础上开发原型系统，模版和工具。
</li>
<li>每周定期开会沟通开发成果和问题。
</li>
</ul>
</div>
</div>

<div id="outline-container-sec-41-4" class="outline-3">
<h3 id="sec-41-4"><a href="https://creately.com/diagram/i30ui51j1/Bsbu2qDjAWyIUUaHy1YuDvfpY=">HTML5学习路线图</a></h3>
<div class="outline-text-3" id="text-41-4">

<div class="figure">
<p><img src="http://standino.github.io/wiki/HTML5%E5%AD%A6%E4%B9%A0%E8%B7%AF%E7%BA%BF%E5%9B%BE.png" alt="HTML5%E5%AD%A6%E4%B9%A0%E8%B7%AF%E7%BA%BF%E5%9B%BE.png" />
</p>
</div>
</div>

<div id="outline-container-sec-41-4-1" class="outline-4">
<h4 id="sec-41-4-1">HTML5教程</h4>
<div class="outline-text-4" id="text-41-4-1">
<p>
主要学习HTML标签、属性和事件。
参考：<a href="http://www.w3school.com.cn/html5/index.asp">http://www.w3school.com.cn/html5/index.asp</a>
</p>
</div>
</div>

<div id="outline-container-sec-41-4-2" class="outline-4">
<h4 id="sec-41-4-2">CSS教程</h4>
<div class="outline-text-4" id="text-41-4-2">
<p>
主要学习使用CSS来控制网页的样式和布局。
参考：<a href="http://www.w3school.com.cn/css/index.asp">http://www.w3school.com.cn/css/index.asp</a>
</p>
</div>
</div>


<div id="outline-container-sec-41-4-3" class="outline-4">
<h4 id="sec-41-4-3">JavaScript教程</h4>
<div class="outline-text-4" id="text-41-4-3">
<p>
做HTML5开发，主要使用JS语言。所以要学习JS语言。必要时还要学习一些JS库，方便开发。
JS教程：<a href="http://www.w3school.com.cn/js/index.asp">http://www.w3school.com.cn/js/index.asp</a>
JQuery教程：<a href="http://www.w3school.com.cn/jquery/index.asp">http://www.w3school.com.cn/jquery/index.asp</a>
</p>
</div>
</div>

<div id="outline-container-sec-41-4-4" class="outline-4">
<h4 id="sec-41-4-4">HTML5其它的核心技术</h4>
<div class="outline-text-4" id="text-41-4-4">
<p>
1）WebWorker
可以在浏览器中运行多个JS脚本。可以用于需要后台执行某种耗时工作的场合。API可以参考：<a href="http://www.w3.org/TR/workers/">http://www.w3.org/TR/workers/</a>
</p>

<p>
2）WebSocket
浏览器可以与服务器间双向通信。Socket方式能够大大提高浏览器与服务器间的通信效率。可以用于浏览器与服务器间通信频繁的场合，比如实时聊天。API可以参考：<a href="http://www.w3.org/TR/websockets/">http://www.w3.org/TR/websockets/</a>
</p>

<p>
3）Canvas2D
浏览器中画图。可以用于游戏开发等等场合。详细API可以参考：<a href="http://www.w3.org/TR/2dcontext/">http://www.w3.org/TR/2dcontext/</a> 教程可以看：
<a href="https://developer.mozilla.org/cn/Canvas_tutorial">https://developer.mozilla.org/cn/Canvas_tutorial</a>
</p>
</div>
</div>
</div>
<div id="outline-container-sec-41-5" class="outline-3">
<h3 id="sec-41-5">使用 H5 编写微信宣传页</h3>
<div class="outline-text-3" id="text-41-5">
<ul class="org-ul">
<li><a href="http://srsgores.github.io/less-boilerplate/">html 5 webpages</a>
</li>
<li><a href="http://srsgores.github.io/less-boilerplate/">less boilerplate</a>
</li>
<li><a href="http://blog.csdn.net/brucecheng22/article/details/22309643">http://blog.csdn.net/brucecheng22/article/details/22309643</a>
</li>
<li><a href="http://justcoding.iteye.com/blog/2116414">http://justcoding.iteye.com/blog/2116414</a>
</li>
<li><a href="http://www.php100.com/html/it/mobile/2014/0523/6900.html">14款html5文字特效</a>
</li>
<li><a href="http://www.idangero.us/sliders/swiper/api.php">手机 Swiper 滑动</a>
</li>
<li><a href="http://www.cnblogs.com/jscode/p/3601648.html">WebRTC</a>
</li>
</ul>


<pre class="example">
git clone https://github.com/thybzi/keyframes.git
git clone https://github.com/kuus/animate-me.less.git
</pre>

<p>
Extending with jQuery
</p>

<p>
You can add more functionality to your animations with jQuery such as below:
</p>

<pre class="example">
$("#logo").addClass('animated bounceOutLeft');
</pre>
<p>
We can also bind these classes with events or triggers like below:
</p>

<pre class="example">
$(document).ready(function(){
    $("#logo").click(function() {
        $("this").addClass("animated bounceOutLeft");
    });
});
</pre>
<p>
jQuery("#ajaxjson").detach().insertBefore("#news")
</p>
</div>
</div>
</div>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" name="fn.1" class="footnum" href="#fnr.1">1</a></sup> <p>DEFINITION NOT FOUND.</p></div>


</div>
</div>
        </div>
      </div>
    </div>
    </div>
        <div>
      <div class="post-meta">
        <span title="post date" class="post-info">创建日期：2014-12-28</span>
        <span title="last modification date" class="post-info">修改日期：2015-08-28</span>
        <span title="tags" class="post-info"><a href="/tags/js/">js</a>, <a href="/tags/jquery/">jquery</a>, <a href="/tags/dojo/">dojo</a>, <a href="/tags/ajax/">ajax</a>, <a href="/tags/定位元素/">定位元素</a>, <a href="/tags/调试/">调试</a>, <a href="/tags/piwik/">piwik</a>, <a href="/tags/网站统计/">网站统计</a></span>
        <span title="author" class="post-info">Will Chang</span>
      </div>
      <section>
        <h1>Comments</h1>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          //var disqus_developer = 1;
          var disqus_identifier = "/blog/html/js";
          var disqus_url = "http://standino.github.io/blog/html/js";
          var disqus_shortname = 'standino';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </section>
    <!-- jQuery Version 1.11.0 -->
    <script src="http://standino.github.io/media/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://standino.github.io/media/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="http://standino.github.io/media/js/sb-admin-2.js"></script>


      <div class="footer">
        <p>Generated by <a href="http://www.gnu.org/software/emacs/">Emacs</a> 25.x (<a href="http://orgmode.org">Org mode</a> 8.x)</p>
        <p>
          Copyright &copy; 2012 - 2015 <a href="mailto:changwei &lt;dot&gt; cn &lt;at&gt; gmail &lt;dot&gt; com">Will Chang</a>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          Powered by <a href="https://github.com/kelvinh/org-page" target="_blank">org-page</a>
        </p>
      </div>
    </div>

    

  </body>
</html>
